<div class="section">
  <h1 class="no-gap"><small>tag</small>&nbsp;/&nbsp;<%= page.tag %></h1>
</div>
<% page.posts.each(function(post){ %>
  <div class="section">
    <%- partial('_partial/article-excerpt', {post: post}) %>
  </div>
<% }) %>
