<div class="footer">
  <div class="parallax-container valign-wrapper">
    <div class="container">
      <div class="row center">
        <h5 class="col s12 light"><%= theme.footer_claim %></h5>
      </div>
    </div>
    <div class="parallax"><img src="/img/background3.jpg" alt="Background Image"></div>
  </div>
</div>
